includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests
    # The level 8 is the highest level
    level: 8
    ignoreErrors:
        -
            message: '#PHPDoc type string of property Database\\Factories\\UserFactory::\$model is not covariant with PHPDoc type class-string<Illuminate\\Database\\Eloquent\\Model> of overridden property Illuminate\\Database\\Eloquent\\Factories\\Factory<Illuminate\\Database\\Eloquent\\Model>::\$model.#'
            path: database/factories/UserFactory.php
    excludePaths:
        - ./routes/console.php
        - ./app/Exceptions/Handler.php
    checkMissingIterableValueType: false
